form {
  .email {
    margin-top: 20px;
  }
  .ermsg {
    color: red !important;
    font-size: 13px !important;
    font-weight: 700;
    margin-top: 0 !important;
  }

  .button {
    margin-top: 20px;
  }
}
